<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Websocket ChatRoom</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
    body{
      padding: 0;
      margin: 0 auto;
    }
    .input-group {
      z-index: 1;
      bottom: 0;
      position: relative;
    }
  </style>
</head>
<body>
<div class="container" id="app" v-cloak>
  <div class="input-group">


    <div class="input-group-append">
      <button class="btn btn-primary" type="button" @click="sendMessage">접수 하기</button>
    </div>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" @click="sendMessage">거절 하기</button>
    </div>


  </div>
</div>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
  //alert(document.title);
  // websocket & stomp initialize
  var sock = new SockJS("/ws-stomp");
  var ws = Stomp.over(sock);
  var reconnect = 0;
  var json = [{
    "OrderDTO":{
      "id":"",
      "StoreDTO":{},
      "orderDate":"",
      status:""
    },
    "menuDTO":{
      "id": "222edbb0-e166-4dc8-93e2-7ffe70c6b3d2",
      "category": {
        "id": "b13c8194-52b8-4589-adb0-76d16f4afb32",
        "store": {
          "id": "1",
          "ceo": {
            "id": "1",
            "name": "testName",
            "mobileNumber": "000-0000-0000",
            "loginId": "testLogin",
            "password": "testPassword",
            "accountNumber": "000-00-000000",
            "email": "test@gmail.com",
            "bank": "degu",
            "admin": true
          },
          "name": "testStoreName",
          "phoneNumber": "000-0000-0000",
          "mainAddress": "mainaddress",
          "detailAddress": "detailaddress",
          "businessNumber": "11",
          "tableCount": 5,
          "approval": "APPROVE"
        },
        "name": "categoryTestName"
      },
      "name": "testingMenuName",
      "price": 50000,
      "description": "testing description"
    },
    "orderPrice": 100000,
    "count": 2
  },{
    "OrderDTO":{},
    "menuDTO":{
      "id": "b00261c7-c7c3-4007-b73b-515b7199cffc",
      "category": {
        "id": "b13c8194-52b8-4589-adb0-76d16f4afb32",
        "store": {
          "id": "1",
          "ceo": {
            "id": "1",
            "name": "testName",
            "mobileNumber": "000-0000-0000",
            "loginId": "testLogin",
            "password": "testPassword",
            "accountNumber": "000-00-000000",
            "email": "test@gmail.com",
            "bank": "degu",
            "admin": true
          },
          "name": "testStoreName",
          "phoneNumber": "000-0000-0000",
          "mainAddress": "mainaddress",
          "detailAddress": "detailaddress",
          "businessNumber": "11",
          "tableCount": 5,
          "approval": "APPROVE"
        },
        "name": "categoryTestName"
      },
      "name": "testingMenuName",
      "price": 50000,
      "description": "testing description"
    },
    "orderPrice": 150000,
    "count": 3
  }

  ]
  // vue.js
  var vm = new Vue({
    el: '#app',
    data: {
      storeId: "1",//test데이터라 1임 uuid가 들어가고, 로그인을 할시 가지고 있을 storeid
      // room: {},
      // sender: '',
      // message: '',
      // messages: []
    },
// created() {
//     this.roomId = localStorage.getItem('wschat.roomId');
//     // this.roomId = this.room.roomId;
//     this.sender = localStorage.getItem('wschat.sender');
//     this.findRoom();
// },
    methods: {
      sendMessage: function() {
        console.log("this is sendMessage json",json);
        var OXmessage = "ACCEPT"
        ws.send("/pub/order/orderOXmessage/"+OXmessage, {},
                JSON.stringify(json));
      },
      recvMessage: function(recv) {
        console.log(recv)
        json = recv;
      },
      disconnectRoom: function () {
        //ws.send("/pub/order/message", {}, JSON.stringify({type:'LEAVE', roomId:this.roomId, sender:this.sender, message:this.sender+"님이 퇴장하셨습니다."}));
        ws.disconnect()
        //location.href="/room"
      }
    }
  });

  function connect() {
    // pub/sub event
    ws.connect({}, function(frame) {
      ws.subscribe("/sub/order/getOrder/storeId/"+vm.$data.storeId, function(message) {
        var recv = JSON.parse(message.body);
        vm.recvMessage(recv);
      });
      //ws.send("/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
    }, function(error) {
      if(reconnect++ <= 5) {
        setTimeout(function() {
          console.log("connection reconnect");
          sock = new SockJS("/ws-stomp");
          ws = Stomp.over(sock);
          connect();
        },10*1000);
      }
    });
  }
  connect();
</script>
</body>
</html>