<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        body{
            padding: 0;
            margin: 0 auto;
        }
        .input-group {
            z-index: 1;
            bottom: 0;
            position: relative;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="input-group">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="connect(), sendMessage">주문 하기</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="vm.sendOrderInfo()">정보 보내기</button>
        </div>

        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="disconnectRoom">퇴장</button>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    var json =
        {
            "tableId":"2",
            "orderId":"2068ce75-022d-4013-87fc-b425ac91be81",
            "storeId":"9d85fa11-e525-4da2-836c-b6e612ebe436",
            "list":[{
                "menuId": "03c0cef9-95d6-4781-871c-30074879e12b",
                "orderMenuPrice": 100000,
                "orderMenuOptionDTOList": [
                    {
                        "menuOptionId": "36fd00e3-f7c2-42e3-8f40-193b7d9808c6"
                    },
                    {
                        "menuOptionId": "e8c9bd0c-eb09-4c91-bd40-1a61459d0625"
                    }
                ]
            },
                {
                    "menuId": "f21b6a6d-b4bd-4035-a52a-cf7e74744671",
                    "orderMenuPrice": 200000,
                    "orderMenuOptionDTOList": [
                        {
                            "menuOptionId": "6136180d-c4fd-45b6-b0bb-85dee788291a"
                        },
                        {
                            "menuOptionId": "dbd50a71-84d8-434d-b4e0-643036b9c7e7"
                        }
                    ]
                }]
        }
    var testJson = {
        "test":"test message for order info exchange"
    }
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            orderId: "2068ce75-022d-4013-87fc-b425ac91be81",
            tableId: ["1","2"]
        },
        methods: {
            sendMessage: function() {
                //고객 측에서 random uuid 하나를 생성하여 send
                var uuid = "2068ce75-022d-4013-87fc-b425ac91be81"
                ws.send("/pub/order/message", {},
                    JSON.stringify(json));
            },
            sendOrderInfo: function (){
                ws.send("/pub/order/table/"+vm.$data.tableId[1], {},
                    JSON.stringify(testJson));
            },
            recvMessage: function(recv) {
                console.log(recv)
            },
            disconnectRoom: function () {
                ws.disconnect()
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/order/OXmessage/OrderId/"+vm.$data.orderId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            //ws.send("/pub/order/connect", {}, JSON.stringify({orderId:'aaaaa'}));
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    function connect2() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/order/table/"+vm.$data.tableId[0], function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    //connect();
    connect2();
</script>
</body>
</html>